# Runway instance configuration
APP_HOSTNAME=
DEPLOY_DOMAIN=
DATABASE_URL=postgres://runway:runway@localhost:5432/runway
SECRET_KEY=
# DOCKER_HOST=tcp://docker-proxy:2375
# DATA_DIR=./data
# RUNWAY_LISTEN=0.0.0.0:8000
# RUNWAY_ENV=development
# DISABLE_TLS=false
# SERVER_IP=
# DEPLOYMENT_TIMEOUT_SECONDS=300
# MONITOR_INTERVAL_SECONDS=2
